.window-wrapper {
    background-color: aqua;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .window {
        border: 4px outset #dedede;
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        resize: both;
        min-width: 200px;
        min-height: 1.5rem;

        .window-content {
            height: 100%;
            width: 100%;
            overflow: auto;
            scrollbar-width: thin;
            background-color: #BDBDBD;
            justify-content: center;
            align-content: center;
            font-size: inherit;
        }

        .window-header {
            display: grid;
            grid-template-columns: auto 1fr auto auto auto;
            /* padding: 5px; */

            .window-title, .window-header-spacer {
                pointer-events: none;
                color: #FFFFFF;
                font-weight: bolder;
                text-transform: capitalize;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            i {
                background-color: hsl(0, 0%, 75%);
                border: 2px outset black;
                aspect-ratio: 1;
                font-size: 0.8rem;
                line-height: 0;
                width: calc((1.5rem - 8px));
                margin: 3px;
                align-content: center;
            }

            p {
                margin: 0;
                padding: 0;
                margin-left: 5px;
                text-justify: left;
                text-align: end;
            }
        }
    }
}