.taskbar {
    display: flex;
    height: 3vh;
    flex-direction: row;
    font-size: 1.3rem;
    background-color: #BDBDBD;
    border-top: 3px outset #dedede;
    align-items: center;
    user-select: none;
    position:unset;
    
    .start-button {
        padding: 0 0.7rem;
        justify-content: center;
        align-content: center;
        border: 2px outset rgb(152, 152, 152);
        line-height: 1.5rem;

        &.focus {
            border-style: inset;
        }
    }
    .taskbar-button {
        min-width: 10%;
        justify-content: left;
        align-content: center;
        border: 2px outset rgb(152, 152, 152);
        line-height: 1.5rem;
        margin: 2px;

        &.focus {
            border-style: inset;
        }
    }
}